#budgetName
{
	text-align: center;
	margin: 2.5% 0 0 0;
}

#sidebar
{
	margin-left: 10px;
	height: 100%;
}

.sidebarInput{
	width: 85%;
}

#dashboard{
	/*margin: 0px 5% 0 5%;*/
}

#expensePanel, #incomePanel, #categoryPanel
{
	border: 1px solid black;
    text-align: center;
	margin: 2px 2px;
}

#expenseForm
{

}

.userInput
{

}

#budgetDayList ul
{
	overflow-x: auto;
	/*overflow-y: scroll;*/
	width: 220px;
	height: 400px;
}

#budgetDayList li
{
	display: block;
	list-style: none;
}

#budgetDayList li:hover
{
	background-color: #ddd;
}
