#budgetName
{
	text-align: center;
	margin: 2.5% 0 0 0;
}

#expensePanel, #incomePanel
{
	border: 1px solid black;
    text-align: center;
    width: 230px;
	margin: 2px 2px;
}

#expenseForm
{

}

.userInput
{
	
}

#expenseList ul
{
	overflow-x: auto;
	/*overflow-y: scroll;*/
	width: 220px;
	height: 400px;
}

#expenseList li
{
	display: block;
	list-style: none;
}

#expenseList li:hover
{
	background-color: #ddd;
}