<!DOCTYPE html>
<html>

<head>
	<title>Budget</title>
	<link rel = "stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="budgetApp">

	<div ng-controller="MainController" ng-init="init()">

		<h1 id = "budgetName">Budget</h1>
		
		<div id="expenseForm">
			<span>Expense: </span><input name="Expense" class="inputExpense" type="text" ng-model="expense" />
			<span>Date: </span><input name="Date" class="inputDate" type="date" ng-model="date" />
			<span>Amount: </span><input name="Amount" class="inputAmount" type="number" ng-model="amount" />
			<button id="submitExpense" ng-click="addExpense()">Submit</button>
		</div>
		
		<div id="expenseList">
			<ul>
				<li ng-repeat="i in expenses">
					<expense info="i" />
				</li>
			</ul>
		</div>
		
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/MainController.js"></script>

<!-- Services -->
<script src="js/services.js"></script>

<!-- Directives -->
<script src="js/directives.js"></script>

</body>

</html>