<!DOCTYPE html>
<html>

<head>
	<title>Budget</title>
	<link rel = "stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="budgetApp">

	<div ng-controller="MainController" ng-init="init()">

		<h1 id = "budgetName">Budget</h1>
		
		<div id="expensePanel">
			<div id="expenseForm">
				<div class="userInput">
					<span>Expense Name</span>
					<input name="Expense" class="inputEntry" type="text" ng-model="expenseName" />
				</div>
				<div class="userInput">
					<span>Expense Date</span>
					<input name="Date" class="inputDate" type="date" ng-model="expenseDate" />
				</div>
				<div class="userInput">
					<span>Expense Amount</span>
					<input name="Amount" class="inputAmount" type="number" ng-model="expenseAmount" />
				</div>
				<div class="userInput">
					<button id="submitExpense" ng-click="addExpense()">Submit</button>
				</div>
			</div>
		</div>
		<div id="incomePanel">
			<div id="incomeForm">
				<div class="userInput">
					<span>Income Name</span>
					<input name="Expense" class="inputEntry" type="text" ng-model="incomeName" />
				</div>
				<div class="userInput">
					<span>Income Date</span>
					<input name="Date" class="inputDate" type="date" ng-model="incomeDate" />
				</div>
				<div class="userInput">
					<span>Income Amount</span>
					<input name="Amount" class="inputAmount" type="number" ng-model="incomeAmount" />
				</div>
				<div class="userInput">
					<button id="submitIncome" ng-click="addIncome()">Submit</button>
				</div>
			</div>
		</div>
			<!--<div id="expenseList">
				<ul>
					<li ng-repeat="i in expenses">
						<expense info="i" />
					</li>
				</ul>
			</div>
		</div>-->
		
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/MainController.js"></script>

<!-- Services -->
<script src="js/services.js"></script>

<!-- Directives -->
<script src="js/directives.js"></script>

</body>

</html>