<!DOCTYPE html>
<html>

<head>
	<title>Budget</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel = "stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-app="budgetApp">

	<div ng-controller="MainController" ng-init="init()">

		<div class="page-header">
			<h1 id = "budgetName">Budget</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-3" id="sidebar">
				<div id="categoryPanel">
					<div id="categoryForm">
						<div class="userInput">	
							<span>Category Name</span>
							<input name="Category", class="inputEntry" type="text" ng-model="categoryName" />
						</div>
						<div class="userInput">	
							<button id="submitCategory" ng-click="addCategory()">Submit</button>
						</div>
					</div>
				</div>
				
				<div id="expensePanel">
					<div id="expenseForm">
						<div class="userInput">
							<span>Expense Name</span>
							<input name="Expense" class="inputEntry" type="text" ng-model="expenseName" />
						</div>
						<div class="userInput">
							<span>Expense Date</span>
							<input name="Date" class="inputDate" type="date" ng-model="expenseDate" />
						</div>
						<div class="userInput">
							<span>Expense Amount</span>
							<input name="Amount" class="inputAmount" type="number" ng-model="expenseAmount" />
						</div>
						<div class="userInput">
							<span>Category Name</div>
							<select class="selectCategory" ng-model="expenseCategory" ng-options="category.category_name for category in categories"></select>
						
						<div class="userInput">
							<button id="submitExpense" ng-click="addExpense()">Submit</button>
						</div>
					</div>
				</div>
				
				<div id="incomePanel">
					<div id="incomeForm">
						<div class="userInput">
							<span>Income Name</span>
							<input name="Expense" class="inputEntry" type="text" ng-model="incomeName" />
						</div>
						<div class="userInput">
							<span>Income Date</span>
							<input name="Date" class="inputDate" type="date" ng-model="incomeDate" />
						</div>
						<div class="userInput">
							<span>Income Amount</span>
							<input name="Amount" class="inputAmount" type="number" ng-model="incomeAmount" />
						</div>
						<div class="userInput">
							<span>Category Name</div>
							<select class="selectCategory" ng-model="incomeCategory" ng-options="category.category_name for category in categories"></select>
						</div>
						<div class="userInput">
							<button id="submitIncome" ng-click="addIncome()">Submit</button>
						</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="expenseList">
	</div>
			<!--<div id="expenseList">
				<ul>
					<li ng-repeat="i in expenses">
						<expense info="i" />
					</li>
				</ul>
			</div>
		</div>-->
		
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/MainController.js"></script>

<!-- Services -->
<script src="js/services.js"></script>

<!-- Directives -->
<script src="js/directives.js"></script>

</body>

</html>